<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Tela de Cobrança</title>
</head>
<body>
  <nav id="side-bar">
    <ul>
        <li><a href="/Home/index.html">Home</a> </li>
        <li><a href="/avisos/index.html">Avisos</a></li>
        <li><a href="/registro/index.html">Registros</a></li> 
        <li><a href="/cobrança/index.html">Contábil</a></li>           
        <li><a href="/reunião/index.html">Reuniões</a></li>
        <li><a href="/reserva/index.html">Reservas</a></li>
        <li><a href="/configurações/index.html">Configurações</a></li>
    </ul>
</nav>
<form action="dadosCobrança.php" method="post">
  <div class="container">
    <h1>Cobrança de aluguel</h1>
    
    <div class="input-container">
      <label for="moradores">Selecione um Morador:</label>
      <select id="moradores">
        <option value="morador1"></option>
        <option value="todos">Enviar para Todos</option>

        <!-- Pode por mais moradores na lista -->
      </select>
    </div>
    
    <div class="input-container">
      <label for="valor">Valor da Cobrança:</label>
      <input type="text" id="valor">
    </div>
    
    <div class="input-container">
      <label for="formaPagamento">Forma de Pagamento:</label>
      <select id="formaPagamento">
        <option value="pix">PIX</option>
        <option value="boleto">Boleto</option>
        <option value="cartao">Cartão</option>
      </select>
    </div>
    
    <button id="enviarCobranca">Enviar Cobrança</button>
  </div>
</form>
  <script src="script.js"></script>
</body>
</html>
