{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Menu Bar</title>
</head>
<body>
    <nav id="side-bar">
        <ul>
            <li><a href="home.html">Home</a> </li>
            <li><a href="/avisos/index.html">Avisos</a></li>
            <li><a href="/registro/index.html">Registros</a></li> 
            <li><a href="/cobrança/index.html">Contábil</a></li>           
            <li><a href="/reunião/index.html">Reuniões</a></li>
            <li><a href="/reserva/index.html">Reservas</a></li>
            <li><a href="/configurações/index.html">Configurações</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Gestão de condominios e apartamentos CondoFlow</h1>
        <p>Oferecendo seviços desde 2023</p>
        <p>Socializando condominio e moradores.</p>
    
    <div class="container">
        <div class="quadrant" id="pessoa">
            <h2>PESSOA</h2>
            <p>Moradores: <span id="moradores">0</span></p>
        </div>
        <div class="quadrant" id="funcionarios">
            <h2>FUNCIONÁRIOS</h2>
            <p>Total: <span id="totalFuncionarios">0</span></p>
            <p>Ativos: <span id="funcionariosAtivos">0</span></p>
        </div>
        <div class="quadrant" id="veiculos">
            <h2>VEÍCULOS</h2>
            <p>Vagas Restantes: <span id="vagasRestantes">0</span></p>
            <p>Quantidade de veículos: <span id="totalVeiculos">0</span></p>
        </div>
        <div class="quadrant" id="lembretes">
            <h2>LEMBRETES</h2>
            <ul id="lembretes-list">
                <li><a href="#">Marcar reunião</a></li>
                <li><a href="/avisos/index.html">Enviar aviso</a></li>
                <li><a href="#">Conferir reforma</a></li>
            </ul>
        </div>
    </div>
</div>
    <script src="{% static 'js/home.js' %}"></script>
</body>
</html>