{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registros.css' %}">
    <script src="{% static 'js/registros.js' %}"></script>
    <title>Registro de Moradores</title>
</head>
<body>
    <nav id="side-bar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'avisos' %}">Avisos</a></li>
            <li><a href="{% url 'registros' %}">Registros</a></li>
            <li><a href="{% url 'reuniao' %}">Reuniões</a></li>
            <li><a href="{% url 'reserva' %}">Reservas</a></li>
            <li><a href="{% url 'configuracoes' %}">Configurações</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Deslogar</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="sidebar">
            <h1>Registro de Moradores</h1>
            <h2>Moradores Cadastrados</h2>
            <ul id="morador-list">
                <!-- Moradores serão adicionados aqui dinamicamente -->
            </ul>
        </div>
        <div class="main-content" id="info">
            <!-- Informações de moradores serão exibidas aqui dinamicamente -->
        </div>
        <div class="user-list">
            <h2>Lista de Usuários</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in usuarios %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.profile.get_user_type_display }}</td>
                        <td>
                            <a href="{% url 'editar_usuario' user.id %}">Editar</a>
                            <a href="{% url 'excluir_usuario' user.id %}">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'criar_usuario' %}" class="btn btn-primary">Adicionar Usuário</a>
        </div>
    </div>
</body>
</html>