<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservas de Áreas de Lazer</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <nav id="side-bar">
    <ul>
        <li><a href="/Home/index.html">Home</a> </li>
        <li><a href="/avisos/index.html">Avisos</a></li>
        <li><a href="/registro/index.html">Registros</a></li> 
        <li><a href="/cobrança/index.html">Contábil</a></li>           
        <li><a href="/reunião/index.html">Reuniões</a></li>
        <li><a href="/reserva/index.html">Reservas</a></li>
        <li><a href="/configurações/index.html">Configurações</a></li>
    </ul>
</nav>
<form action="dadosReservas.php" method="post">
  <div id="container">
    <h1>Reservas de Áreas de Lazer</h1>
    <label for="area">Área:</label>
    <select id="area" name="area">
      <option value="churrasqueira">Churrasqueira</option>
      <option value="piscina">Piscina</option>
      <option value="academia">Academia</option>
      <option value="quadra">Quadra de Esporte</option>
      <option value="sala-de-jogos">Sala de Jogos</option>
      <option value="salao-de-festa">Salão de Festas</option>
    </select>

    <label for="data">Dia:</label>
    <input type="date" id="data" name="data">

    <label for="hora">Horário:</label>
    <input type="time" id="hora" name="hora">

    <button onclick="fazerReserva()">Fazer Reserva</button>
  </div>
</form>
  <script src="script.js"></script>
</body>
</html>
