{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reservas de Áreas de Lazer</title>
  <link rel="stylesheet" href="{% static 'css/reserva.css' %}">
  <script src="{% static 'js/reserva.js' %}"></script>
</head>
<body>
  <nav id="side-bar">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'avisos' %}">Avisos</a></li>
      <li><a href="{% url 'registros' %}">Registros</a></li>
      <li><a href="{% url 'cobranca' %}">Contábil</a></li>
      <li><a href="{% url 'reuniao' %}">Reuniões</a></li>
      <li><a href="{% url 'reserva' %}">Reservas</a></li>
      <li><a href="{% url 'configuracoes' %}">Configurações</a></li>
    </ul>
  </nav>

  <div id="container">
    <h1>Reservas de Áreas de Lazer</h1>
    <button class="botao-reserva" onclick="location.href='{% url 'criar_reserva' %}'">Reserve Já!</button>
    
  {% for area, reservas in reservas_por_area.items %}
    <div class="area-reserva">
      <h2>{{ area }}</h2>
      
      {% if reservas %}
        <ul>
          {% for reserva in reservas %}
            <li>
              Data: {{ reserva.data }}<br>
              {% if reserva.hora %}
                Horário: {{ reserva.hora }}<br>
              {% endif %}
              Reservado por: {{ reserva.usuario_nome }}
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Não há reservas para esta área.</p>
      {% endif %}
    </div>
  {% endfor %}

  </div>
</body>
</html>
