{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Reuniões</title>
  <link rel="stylesheet" href="{% static 'css/reuniao.css' %}">
  <script src="{% static 'js/reuniao.js' %}"></script>
</head>
<body>
  <nav id="side-bar">
    <ul>
            <li><a href="{% url 'home' %}">Home</a> </li>
            <li><a href="{% url 'avisos' %}">Avisos</a></li>
            <li><a href="{% url 'registros' %}">Registros</a></li>
            <li><a href="{% url 'cobranca' %}">Contábil</a></li>
            <li><a href="{% url 'reuniao' %}">Reuniões</a></li>
            <li><a href="{% url 'reserva' %}">Reservas</a></li>
            <li><a href="{% url 'configuracoes' %}">Configurações</a></li>
    </ul>
</nav>
<form action="dadosReuniao.php" method="post">
  <div id="container">
    <h1>Criar Reuniões</h1>
    <label for="assunto">Assunto:</label>
    <input type="text" id="assunto" name="assunto">

    <label for="local">Local:</label>
    <select id="local" name="local">
      <option value="presencial">Presencial</option>
      <option value="online">Online via Meeting</option>
    </select>

    <label for="data">Dia e Hora:</label>
    <input type="datetime-local" id="data" name="data">

    <label for="urgencia">Urgência:</label>
    <select name="select">
        <option value="valor1">Alta</option>
        <option value="valor2" selected>Média</option>
        <option value="valor3">Baixa</option>
      </select>

    <label for="descricao">Descrição:</label>
    <textarea id="descricao" name="descricao" rows="4"></textarea>

    <label for="destinatarios">Enviar para:</label>
    <select id="destinatarios" name="destinatarios">
      <option value="funcionarios">Funcionários</option>
      <option value="moradores">Moradores</option>
      <option value="todos">Todos</option>
    </select>

    <button onclick="enviarConvocacao()">Enviar Convocação</button>
  </div>
</form>

</body>
</html>
