body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #dda9ff;
}

#side-bar {
    width: auto;
    height: 100%;
    background-color: #350066;
    position: fixed;
    top: 0;
    left: -60px;
    transition: left 0.3s;

}

#side-bar.active {
    left: 0;
}

#side-bar:hover {
    left: 0;
}

#side-bar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

#side-bar ul li {
    text-align: center;
    margin-bottom: 15px;
}

#side-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

#side-bar ul li a:hover {
    background-color: #b3ff00;
}
/* O restante do CSS permanece o mesmo */

.container {
    display: flex;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    margin-right: 20px;
}

#morador-list {
    list-style: none;
    padding: 0;
}

#morador-list li {
    margin-bottom: 10px;
}

#morador-list a {
    text-decoration: none;
    color: #3498db;
    cursor: pointer;
}

.main-content {
    flex: 2;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#info {
    display: none;
}
h1{
    padding: 10px;
}