<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Avisos</title>
</head>
<body>
    <nav id="side-bar">
        <ul>
            <li><a href="/Home/index.html">Home</a> </li>
            <li><a href="/avisos/index.html">Avisos</a></li>
            <li><a href="/registro/index.html">Registros</a></li> 
            <li><a href="/cobrança/index.html">Contábil</a></li>           
            <li><a href="/reunião/index.html">Reuniões</a></li>
            <li><a href="/reserva/index.html">Reservas</a></li>
            <li><a href="/configurações/index.html">Configurações</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Avisos</h1>
        <div class="notices">
            <ul id="notice-list">
                <!-- Avisos serão adicionados aqui dinamicamente -->
            </ul>
        </div>
        <button id="add-notice-btn">+ Adicionar Aviso</button>
        
    </div>

    <div id="notice-modal"action="avisos.php" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Gerenciar Aviso</h2>
            <input type="text" id="notice-input" placeholder="Digite seu aviso">
            <button id="save-notice-btn">Salvar</button>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>