<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/registros.css">
    <title>Registro de Moradores</title>
</head>
<body>
    <nav id="side-bar">
        <ul>
            <li><a href="/Home/index.html">Home</a> </li>
            <li><a href="/avisos/index.html">Avisos</a></li>
            <li><a href="/registros/index.html">Registros</a></li> 
            <li><a href="/cobrança/index.html">Contábil</a></li>           
            <li><a href="/reunião/index.html">Reuniões</a></li>
            <li><a href="/reserva/index.html">Reservas</a></li>
            <li><a href="/configurações/index.html">Configurações</a></li>
        </ul>
    </nav>
    <div class="container">
        
        <div class="sidebar">
            <h1>Registro de Moradores</h1>
            <h2>Moradores Cadastrados</h2>
            <ul id="morador-list">
                <!-- Moradores serão adicionados aqui dinamicamente -->
            </ul>
        </div>
        <div class="main-content" id="info">
            <!-- Informações de moradores serão exibidas aqui dinamicamente -->
        </div>
    </div>

    <script src="/static/js/registros.js"></script>
</body>
</html>